# python Assignment-3
# Topics - for loop

1. write a program to print the first 10 numbers.

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. write a program to print the first 100 numbers

In [4]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

3. write a program to print the first ten ,3 digit number.

In [5]:
for i in range(100,110):
    print(i)

100
101
102
103
104
105
106
107
108
109

4.write a program to print even numbers 1-100.

In [9]:
for i in range(1,101):
    if i % 2 ==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

5.write a program to print odd numbers 1-50.

In [14]:
for i in range(1,51):
    if i % 2 == 1:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
6. write a program to reverse from 100-1.

In [26]:
 for i in range(100,0,-1):
        print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

7. write a program to print a table 12.

In [14]:
for i in range(1,11):
    print(i*12)

12
24
36
48
60
72
84
96
108
120

8. write a program to  print a table of 12 in reverse order.

In [23]:
for i in range(10,0,-1):
    print(i*12)

120
108
96
84
72
60
48
36
24
12

9. write a program to print the sum of the first 10 numbers.

In [44]:
total_sum = 0
for i in range(1,11):
    total_sum += i
print("The sum of the first 10 numbers is:",total_sum)

The sum of the first 10 numbers is: 55

10. write a program to print the product of the first 10 numbers.

In [53]:
product = 1
for i in range(1,11):
    product *= i
print("The product of the first 10 numbers is:",product)

The product of the first 10 numbers is: 3628800