In [1]:
a = 10
b = 20.5

print(a)
print(b)

10
20.5

In [2]:
a = 10
b = 20

print(a+b)

30

In [4]:
friend1 = 1200000
friend2 = 1000000

print(friend1 - friend2)

200000

# operator: 

# 3 type operator:
                
# 1. unary : (1 value)

# two type unary:(add(+) &sub(-))



# 2.binary:(2 value) 
# 7 type binary:
- 1. Arithmetic opertactors:+(add),-(sub),*(mul),%(modulus),/(division),//(divisior), **(power)
 
- 2.Relational opertaors(compasion oper):<,>,>=,<=,==,!=
- 3.logicaloperators:and(logicalAND),or(LogicalOR),
  not(logicalNot)
- 4.Assignment operators: = (assignment)
  -shorthand operators: +=, -= ,*=, %= ,/= ,//=,**=
- 5.Bitwise operator:&(BitwiseAND),|(BitwiseOR),^(Bitwise XOR),<<(leftshit),>>(rightshift),~(Complement)
- 6.identity operator: is, is not
- 7.Membership operator: in, not in
 
 # 3.termary(3 value)

# note:python supports only two unary operators'+' and '-'.

In [5]:
x = 10
print(x)
ans = -x
print(ans)

10
-10

In [6]:
x = 10
ans = +x
print(ans)

10

In [7]:
x = 10
ans = ++x
print(ans)

10

In [8]:
x = 10
ans = x++
print(ans)

SyntaxError: invalid syntax (863799429.py, line 2)

In [9]:
x = 10
y = 20
ans = x + +y
print(ans)

30

In [10]:
x = 20
y = 10
ans = y-x
print(ans)

-10

In [11]:
# Arithmetic opertactors:
x = 2
y = 5

print(x+y)
print(x-y)
print(x*y)
print(x/y)  # (return float) 
print(x%y)
print(x//y)  # (return integer)
print(x**y)

7
-3
10
0.4
2
0
32

In [12]:
# Relational operators  => (True / False)

x = 10
y = 20

print(x<y)
print(x>y)
print(x<=y)
print(x>=y)
print(x==y)
print(x!=y)

True
False
True
False
False
True

In [15]:
# logical operators => (True/False)   (and,or,not)

x = True
y = False
print(x and y)



x = True
y = False
print(x or y)


x = True
y = False
print(type(x))
print(not x)
print(not y)

False
True
<class 'bool'>
False
True

In [20]:
a = 10
b = 20

print(a and b)
print(a or b)
print(not a)
print(not b)

20
1
False
False

In [23]:
a = 0
b = 20

print(a and b)
print(a or b)
print(not a)
print(not b)
print(type(a))
print(type(b))

0
20
True
False
<class 'int'>
<class 'int'>

In [25]:
# Assinments operator
x = 10
y = 5
print(x)
x += y
print(x)

10
15

In [26]:
x = 10
y = 5
print(x)
x -= y
print(x)

10
5

In [28]:
x = 10
y = 5
print(x)
x /= y
print(x)

10
2.0

In [30]:
x = 10
y = 5
print(x)
x %= y
print(x)

10
0

In [29]:
x = 10
y = 5
print(x)
x //= y
print(x)

10
2

In [31]:
x = 10
y = 5
print(x)
x **= y
print(x)

10
100000

In [32]:
# identity operator

listData = [10,20,30,40,50]
x = 10
y = 10
print(id(x))
print(id(y))
print(x is y)

1247778243088
1247778243088
True

In [33]:
# identity operator

listData = [10,20,30,40,50]
x = 10
y = 10
print(id(x))
print(id(y))
print(x is not y)

1247778243088
1247778243088
False

In [34]:
# membership operator
listdata = [10,20,30,40,50]
x = 10
y = 25
print(x in listdata)
print(y in listdata)

True
False

In [35]:
# membership operator
listdata = [10,20,30,40,50]
x = 10
y = 25
print(x not in listdata)
print(y  not in listdata)

False
True

In [1]:
a=5
b=3
print((a**b)*b-(a+b)+(b**a))

610

In [2]:
a=10+20j
b=10
c=a+b
print(c)

(20+20j)

In [3]:
a=10
b=5.5
c=a+b
print(c)

15.5

In [4]:
a=10
b=5.5
print(type(a+b))

<class 'float'>

In [5]:
set_a={1,2,3,4,5}
set_b={10,20,30}

set_a = set_b
print(set_a)

{10, 20, 30}

In [6]:
a=10+20j
b=10+20j
c=++a
print(c)

(10+20j)

In [7]:
a=True
b=False
print(a**b)

1

In [8]:
z=2+3j
result=-z
print(result)

(-2-3j)

In [9]:
z=2+3j
result=z**2
print(result)

(-5+12j)

In [10]:
x=0
x**-3
print(x)

ZeroDivisionError: 0.0 cannot be raised to a negative power

In [1]:
x,y,z=[int(data) for data in input("Enter values").split(" ")]

#x,y,z = [data for data in input("Enter values").split(" ")]
 
print(x)
print(y)
print(z)
print(x+y+z)
print(type(x))
print(type(y))
print(type(z))

Enter values10 20 30
10
20
30
60
<class 'int'>
<class 'int'>
<class 'int'>

In [2]:
# input 10 20 30 40 50
x,y,z=[int(data) for data in input("Enter values").split(" ")]

print(x)

Enter values10 20 30 40 50

ValueError: too many values to unpack (expected 3)